/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 560px) {
    
}

/* // Medium devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    #submitBtn
    {
        margin-top: 20px;
    }

}

/* // Large devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* // Extra large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1240px) {
    .container
    {
        width: 90% !important;
        margin-left: 2.4rem;
    }
    .contact
    {
        margin-left: 50px;
    }
}
@media only screen and (max-width: 1500px) {
    
}